body {
  font-family: 'Lato-Regular';
  font-size: 14px;
  margin: 0;
  color: #999;
  // background: url('./img/showcase.jpg') no-repeat center center;
  height: 100vh;
  background-size: cover;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
/* ------------------------------------- */
/* Nav bar styles */
.menuBar {
  /* display: flo; */
  /* float: initial; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  background-color: white;
  z-index: 1;
  /* box-shadow: 0 0 30px #f3f1f1; */
}
.container {
  padding-top: 90px;
}
.logo {
  width: 150px;
  float: left;
}
.logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  text-transform: capitalize;
}
.menuCon {
  width: calc(100% - 150px);
  float: left;
}
.menuCon .ant-menu-item {
  padding: 0px 5px;
}
.menuCon .ant-menu-submenu-title {
  padding: 10px 20px;
}
.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}
.menuCon .ant-menu-horizontal {
  border-bottom: none;
}
.menuCon .leftMenu {
  float: left;
}
.menuCon .rightMenu {
  float: right;
}
.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
}
.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}
.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}
.barsBtn:after {
  top: auto;
  bottom: -6px;
}
.ant-drawer-body {
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
  }
  .leftMenu,
  .rightMenu {
    display: none;
  }
  .logo a {
    margin-left: -20px;
  }
  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }
  .logo a {
    padding: 10px 20px;
  }
}
/* --------------------------------------- */
.wrapper {
  width: 826px;
  height: 100vh;
  background: #fff;
  margin: auto;
  padding: 100px 90px 0 90px;
  overflow: auto;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.ant-input {
  height: 42px;
}

.form-row-n {
  display: flex;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.icon-style {
  color: rgba(0, 0, 0, 0.25);
}

.pb-2 {
  padding-bottom: 15px;
}

.btn-theme {
  border: none;
  display: inline-flex;
  height: 42px;
  width: 132px;
  align-items: center;
  color: #fff;
  cursor: pointer;
  background: #1890ff;
  text-transform: uppercase;
  justify-content: center;
  letter-spacing: 1px;
  font-size: 15px;
  border-radius: 3px;
}

.row {
  display: flex;
  padding: 10px;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
.custom-style {
  .ant-modal-header,
  .ant-modal-close-x {
    display: none;
  }
  .ant-modal-body {
    padding: 0;
  }
  p {
    margin: 0;
  }
}
